@charset "UTF-8";

div#tv-radio {
  width: 1000px;
  height: 580px;
  margin: auto;
  background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica {
  display: table;
  position: relative;
  left: 575px;
  top: 480;
  width: 300px;
  height: 544px;
}

video#filme {
  display: table;
  position: relative;
  left: 90px;
  top: -420px;
  width: 440px;
}
